{% extends "layout.html" %} {% block title %} Add new citation {% endblock %} {%
block page_title %} Add new citation {% endblock %} {% block body %}

<form action="/create_citation" method="post">
  <h3>Citation:</h3>

  <div class="form-items">
    <label for="author">Author: <input type="text" name="author" /></label>
    <label for="title">Title: <input type="text" name="title" /></label>
    <label for="publisher"
      >Publisher: <input type="text" name="publisher"
    /></label>
    <label for="year">Year: <input type="text" name="year" /></label>

    <button id="add_citation_button" class="primary" type="submit">Add</button>

    <a href="/"><button class="secondary" type="button">Go Back</button></a>
  </div>
</form>

{% endblock %}
