form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

#search-form {
  max-width: 500px;
  flex-direction: row;
  gap: 8px;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-form-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  width: 16px;
  left: 4px;
}

#query {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 4px;
}

label {
  display: flex;
  flex-direction: column;
}
