body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex-grow: 1;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  all: unset;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#search-form {
  flex-direction: row;
  gap: 8px;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-form-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  width: 16px;
  left: 4px;
}

#query {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 4px;
}

label {
  display: flex;
  flex-direction: column;
}

.error-message {
  padding: 12px;
  color: #c41e3a;
  background-color: #ffe6e6;
  border: 1px solid #c41e3a;
  border-radius: 8px;
}

.success-message {
  padding: 12px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #155724;
  border-radius: 8px;
}

.citation-items {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.citation-item {
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 8px;
  transition: 0.2s ease-in-out;
  border-radius: 8px;
}

.citation-item:nth-child(even) {
  background-color: #f0f0f0;
}

.citation-item:nth-child(even):hover {
  background-color: #d9d9d9;
}

.citation-item:nth-child(odd):hover {
  background-color: #f0f0f0;
}

.citation-header {
  margin: 0px;
}

.citation-author {
  margin-top: 4px;
  font-style: italic;
}

.citation-item-bottom {
  display: flex;
  justify-content: space-between;
}

.citation-publisher,
.citation-year {
  margin-bottom: 0;
}
